/* index styling START*/
body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #f5f5f5;
}
.logo {
  font-size: 2.5em;
  font-weight: bold;
  color: #4285f4;
  margin-bottom: 20px;
}
.search-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
}
.search-bar {
  width: 100%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  outline: none;
}

.search-bar:hover,
.search-bar:focus {
    box-shadow: 0 0 10px rgba(66, 133, 244, 0.5);
}

.search-button {
  margin-left: 10px;
  padding: 10px 20px;
  background-color: #4285f4;
  color: white;
  border: none;
  border-radius: 24px;
  cursor: pointer;
  font-size: 1em;
}
.search-button:hover {
  background-color: #357ae8;
}

.logo {
  font-size: 5em; 
  font-weight: bold; 
  color: #4285f4; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); 
  margin-bottom: 20px; 
  text-align: center; 
}


/* index styling END*/


/* result_page styling START*/
#result{
  border-collapse: collapse; 
  width: 50%;
  border: none;
}

#result tr{
  text-align: right;
}

#result tr td,th{
  text-align: right;
  padding: 0 10px;
}

.text_left_align{
  text-align: left !important;
}
/* result_page styling END*/